.add-todo {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}



.todos {
    text-align: center;
}

.todos .todo {
    border: 1px solid;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.todos h2 {
    margin-top: 0px;
}

.todo .icons {
    text-align: right;
    margin-bottom: 10px;
}

.todo .icons i { 
    margin-left: 10px;
    cursor: pointer;
}

.todo .todo-image {
    width: 150px;
    height: 150px;
}

.todo .title {
    font-weight: bold;
}

.todo .description {
    font-size: 12px;
    color: #777;
    max-width: 200px;
    margin-bottom: 5px;
}

.search-input {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid;
    width: 25%;
    margin-bottom: 20px;
}

.todos .header {
    position: relative;
    background-color: #111;
    padding: 10px;
    color: #FFF;
    margin-bottom: 15px;
}

.todos .header h2 {
    margin: 0px;
}

// .add-button {
//     color: #FFF !important;
//     border: 1px solid #FFF !important;
// }

.header .logout {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
}
.box{
    background-color: lightblue;
    border-radius: 10px;
}